% vim: ft=mercury ff=unix ts=4 sw=4 et

:- module <MODULE>.meta_info.

:- interface.

:- import_module pair.

:- pred revision(string::out, string::out) is det.

:- pred version(string::out) is det.

:- pred author(pair(string)::out) is det.

:- implementation.

revision("<REVISION_SHORT>", "<REVISION_LONG>").

:- pred dep(string::out) is multi.

dep(""). % these are dummies to suppress the multi warning.
dep("").

author("<AUTHOR_NAME>"-"<AUTHOR_EMAIL>").
